@model UcakBiletiSitesi.Models.Yolcu

@{
    ViewData["Title"] = "Bilgi";
}

<h1>Bilgi</h1>

<div>
    <h4>Yolcu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
